<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Time Conversion</title>

    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    
    <!-- sanitize -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>

    <!-- moment -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    
    <!-- moment-timezone -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.4/moment-timezone-with-data-2010-2020.min.js"></script>
    
    <!-- for timepicker -->
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
    
    <!-- js for select -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.18.0/select.min.js"></script>

    <script src="main.js"></script>
    
    <!-- css for select -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.18.0/select.min.css">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
    
    <link rel="stylesheet" href="main.css">
</head>

<body ng-app="TimePicker">
  
  <div ng-controller="TimePickerController">

    <ui-select ng-model="city.selected">
        <ui-select-match placeholder="Select or search a country in the list...">
            {{$select.selected}}
        </ui-select-match>
        <ui-select-choices group-by="country" repeat="city in cities | filter: $select.search">
            <span ng-bind-html="city | highlight: $select.search"></span>
        </ui-select-choices>
         {{ $select.selected }}
    </ui-select>

    <uib-timepicker ng-model="time" show-meridian="false"></uib-timepicker>
    Local time {{ time ? getLocalTime() : "( Choose time to see your local time )" }}
   
  </div>
</body>
</html>
